*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    display:flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main.index{
    display: block;
    text-align: center;
    position: absolute;
    top: 25%;
    height: 40%;
    
}
.titulo{
    position: absolute;
    color: #FDFFFC;
    padding: 15px;
    top: 15px;
    left: 15px;

    
}
.imgFondo{
    height: 100vh;
}
img{
    width: 100%;
}
p.index{
    color: rgb(255, 255, 255);
    width: 60%;
    margin-left: 20%;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(60,24,8);
    filter: blur(0.5px);
    box-shadow: 5px 5px 5px rgb(149,70,27) ;
}

p.index:hover {
    filter: blur(0px)
}
div.container{
    overflow: hidden;
    padding-top:30px;
    
}
div.imagen{
    width: 30%;
    float: left;
    
}
div.detail{
    padding-left: 5%;
    width: 65%;
    float: left;
    

}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    list-style-type: none;
    

    ;
}
ul li{
    width: 6%;
    height: 100%;
    margin: 10px;
    border-radius: 10px ;
    border: solid 3px #6e6b67;
    background-color: #e9ddc8;
    opacity: 0.5;
}
ul li:hover {opacity: 0.9}
main ul li a{
    text-decoration: none;
    color: black;
    padding-top: 5px;/* ver */
    
    cursor: pointer;
}

button{
    background-color:  #FDFFFC;
    border-radius: 50px;
    width: 100px;
}